[req]
default_bits = 4096
prompt = no
default_md = sha256
req_extensions = req_ext
distinguished_name = dn

[ dn ]
C = US
ST = {{ mystate }}
L = {{ mylocation }}
O = {{ myorg }}
OU = {{ myou }}
emailAddress = {{ email_address }}
CN = {{ inventory_hostname }}

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = {{ inventory_hostname }}
{% if 'example' in inventory_hostname %}
DNS.2 = {{ ansible_fqdn | regex_replace('example','cms4u2eat') }}
{% elif 'cms4u2eat' in inventory_hostname %}
DNS.2 = {{ ansible_fqdn | regex_replace('cms4u2eat','example') }}
{% endif %}